<?xml version="1.0" encoding="iso-8859-1"?>
<globales>
	<entorno>
		<tipo>local</tipo>
		<path>/var/www/html</path>
	    <url>192.168.0.96</url>
		<key>FMhZn8</key>
		<ancho_pagina>800</ancho_pagina>
		<timezone>America/Buenos_Aires</timezone>
        <multilang>NO</multilang>
		<logfile>Logs/applog.log</logfile>
	</entorno>
    <database>
		<name>profejoaco</name>
		<schema>joacosch</schema>
        <host>192.168.1.34</host>
        <port>5433</port>
        <user>joaco</user>
        <!-- <dbpass>b34daf48ab46da6dbe56947a97467f4a7c37</dbpass> -->
        <dbpass>b04db9489846d96dc456cb7ad546</dbpass>
        <charset>UTF8</charset>
    </database>
</globales>
